:root {
  --ago-header-padding-y: 2.5rem;
  --ago-header-padding-x: 2rem;
  --ago-header-image-size: 2rem;
  --ago-header-links-gap: 1.5rem;
  --ago-header-button-border-size: 0.15rem;
  --ago-header-button-border-radius: 0.25rem;
  --ago-header-button-border-padding-y: 0.15rem;
  --ago-header-button-size: var(--ago-header-image-size);
}
